<!DOCTYPE html>
<html>
<head>
  <title>TechnoOptics</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div class="shell">
			<!-- Header -->
			<div id="header">
				<!-- Logo -->
				<h1 id="logo"><a title="home" href="#">Sun Glasses</a></h1>
				<!-- Navigation -->
				<div id="navigation">
					<ul>				  
             <% unless session[:user] %>
                      <li><a title="Home" href="#">Home<span></span></a></li>
                      <li><a href="/accounts/login">Log In</a></li>
                      <li><a href="/accounts/signup">Sign Up</a></li>
                      <li><a href="/accounts/forget_password">Forget Password?</a></li>
                      <li><a href="/accounts/reset_password">Reset Password?</a></li>
                      <li><a title="Cart" href="#">Cart<span></span></a></li>
                      <li><a title=" About Us" href="#">About Us<span></span></a></li>
              <% else %>
                      <li><a title="Home" href="#">Home<span></span></a></li>
                      <li><a href="/accounts/logout">Log Out</a></li>
                      <li><a href="/accounts/reset_password">Reset Password?</a></li>
                      <li><a title="Cart" href="#">Cart<span></span></a></li>
                      <li><a title=" About Us" href="#">About Us<span></span></a></li>
              <% end %>       		
					</ul>
				</div>
				<!-- END Navigation -->
				<div class="cl"></div>
				<div id="cart">
					<p><%= form_for(:search,:url=>"/gallery/search") do |f| %>

                         Search <input type="text" name="search">
                         <input type="submit" value="Go">
                    <% end %></P>
				</div>
			</div>	
		</div>
		<!-- END Header -->
		<!-- Main -->
		<div id="main">
			<!-- Slider Holder -->
			<div id="slider-holder">
				<div class="shell">
					<!-- Main Slider -->
					<div id="slider">
						<a title="Details" class="main-button" href="#">view product</a>					
						<ul>
							<li>
								<img src="/assets/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2> Techno Optics </h2>	
                                    <p>        </P>
									<h3> The World of Trendy Eye Wears! </h3>
								</div>
								<div class="cl"></div>
							</li>
							<li>
								<img src="/assets/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2> Clear Vision </h2>		
									<p>   </p>
									<h2> New Look! </h2>	
								</div>
								<div class="cl"></div>
							</li>
							<li>
								<img src="/assets/slide.jpg" alt="A man with sun glasses" />
								<div class="caption">
									<h2> Best Hot Deals!!!! </h2>	
								</div>
								<div class="cl"></div>
							</li>
						</ul>
						<div id="slider-nav">
							<a title="slide 1" href="#">1<span class="fade"></span><span class="active"></span><img src="/assets/thumb.jpg" alt="A young man with sun glasses" /></a>
							<a title="slide 2" href="#">2<span class="fade"></span><span class="active"></span><img src="/assets/thumb2.jpg" alt="A young woman with sun glasses" /></a>
							<a title="slide 3" href="#">3<span class="fade"></span><span class="active"></span><img src="/assets/thumb3.jpg" alt="A little girl with curly hair and sun glasses" /></a>
						</div>						
					</div>
					<!-- END Main Slider -->								
				</div>	
			</div>
			<!-- END Slider Holder -->
			<!-- Featured Items -->
			<div class="items">
				<div class="shell">
					<!-- Products -->
					<div class="products">
					<%= yield %>	
					</div>
					<!-- END Products -->
				</div>
			</div>
			<!-- END Featured Items -->
			<!-- Bestsellers -->
			<div class="items">
				<div class="shell">
					<h4>Best Sellers</h4>
					<div class="products-slider">
						<ul>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item1.jpg" alt="" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item2.jpg" alt="" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div> 
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item3.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item4.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item1.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div> 
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item2.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>
							<li>
								<div class="product">
									<div class="img-holder">	
										<a title="View product" href="#"><img src="/assets/item3.jpg" alt="Images of sunglasses" /></a>
									</div>								
									<div class="img-bottom"></div>
									<div class="price-box">
										<p>price</p>
										<p class="price"><span class="dollar">$</span>284<sup>.99</sup></p>
									</div>
									<div class="product-entry">
										<p class="model">Sunglasses<br /> Model</p>
										<p class="model"><span>product: 76</span></p>									
									</div>
								</div>
							</li>						
						</ul>
					</div>
				</div>	
			</div>	
			<!-- END Bestsellers -->		
		<!-- END Main  -->
		<div id="footer-push"></div>
	</div>
	<!-- END Wrapper -->
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div id="bottom-logo"><a title="home" href="http://css-free-templates.com/">Bottom logo</a></div>
			<p>Copyright &copy; Techno Optics. All Rights Reserved. Design by: <a href="http://css-free-templates.com/">Reena Jacob</a></p>
			<div class="cl"></div>
		</div>
	</div>
	<!-- END Footer -->
</body>	
</html>





