<%= form_for(:user) do |f| %>
<div class="field">
	<%= f.label :new_password %><br />
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :confirm_new_password %><br />
	<%= f.password_field :password_confirmation %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>